* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #455561;

}

.container{
    display: flex;

}

.sidebar{
    width: 230px;
    height: 100vh;
    border-right:1px solid #ffffff;

    
}

.sidebar ul{
    list-style: none;
    padding-left: 20px;
    padding-top: 15px;
}

.sidebar a {
    text-decoration: none;
    color : white;
    display: flex;
    justify-content:space-between;
    padding-right: 20px;
}



.logo {
    font-size: 14px;
    color: white;
    border-bottom:1px solid white;
    display: block;
    width: 100%;
    padding: 20px;
}

.sidebar a:hover{
    color:#aaaaaa;
}

.sidebar li{
    margin-bottom: 10px;
}

.content {
    flex: 1;
}

.sidebar a::after {
    content: " >";
}

.content a {
    color: white;
    text-decoration: none;
}

.content ul {
    list-style: none;
}

.content {
    padding: 30px;
    font-size: 18px;
}

.content details summary {
    color: white;
}

.content details ul {
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.content details summary {
    cursor: pointer;
    padding: 5px 0;
}

.content details li {
    margin-bottom: 5px;
}

.content details summary {
    font-weight: bold;
}

.content h1 {
    color: white;
    margin-bottom: 20px;
}

.content p {
    color: white;
}
.content h3 {
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

.content li {
    color: white;
}

.logo {
    text-decoration: none;
}